.search-bar-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 20vh;         
  padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the items within the search bar */
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .search-bar .ant-input,
  .search-bar .ant-picker,
  .search-bar .ant-select,
  .search-bar .ant-btn {
    margin-right: 10px;
  }

  .search-bar .ant-btn {
    margin-right: 0; /* Removes the right margin from the last item */
  }