body {
    overflow: hidden;
  }
  
  .home-image-container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home-image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  