.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form button,
  .go-back-button {
    margin-top: 10px;
  }
  
  .go-back-button {
    background-color: #dc3545;
  }
  
  .go-back-button:hover {
    background-color: #c82333;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .bottom-buttons-login {
    margin-top: 100px; 
  }
  
  .bottom-buttons-login button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .bottom-buttons-login button:last-child {
    background-color: #dc3545; 
  }
  
  .bottom-buttons-login button:hover {
    opacity: 0.8; 
  }
  
  .bottom-buttons-login button:last-child:hover {
    opacity: 0.8; 
  }
  
  